:root{
    --moderateBlue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --lightGrayishBlue: hsl(239, 57%, 85%);
    --paleRed: hsl(357, 100%, 86%);
    --darkBlue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --lightGray: hsl(223, 19%, 93%);
    --veryLightGray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

main{
    background-color: var(--veryLightGray);
    padding: 2rem;
}

.comment{
    background-color: var(--white);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.user{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user img{
    width: 10%;
    height: 10%;
}

h1{
    font-size: 1rem;
}

p{
    color: var(--grayishBlue);
    font-weight: 400;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number{
    background-color: var(--veryLightGray);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

span{
    color: var(--moderateBlue);
    font-size: 1rem;
    font-weight: 700;
}

.reply{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.commentReply{
    border-left: solid 2px var(--lightGray);
    padding-left: 1rem;
}

.commentReply .user .you{
    background-color: var(--moderateBlue);
    color: var(--white);
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.changes{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.delete span{
    color: var(--softRed);
}

textarea{
    border: solid 2px var(--lightGray);
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0.5rem 1rem;
}

textarea::placeholder{
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.8;
}

.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.add img{
    width: 10%;
    height: 10%;
}

button{
    border: none;
    background-color: var(--moderateBlue);
    color: var(--white);
    text-transform: uppercase;
    padding: 0.9rem 1.8rem;
    border-radius: 0.5rem;
}